@import "../../styles/base/typography";// Import typography variables

.ui-service {
  padding: 4rem 2rem;
  background:$bg-primary;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__intro {
    flex: 1;
    max-width: 500px;

    &-title {
      font-size: $font-size-xl;
      font-weight: $font-bold;
      color: $text-primary;
    }

    &-description {
      font-size: $font-size-md;
      color: $text-secondary;
      margin-top: 0.5rem;
    }
  }

  &__cards {
    flex: 1;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
